name: Build and Deploy to Cloud Run

on:
  push:
    branches: [ "main" ]


jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Google Container Registry
        uses: docker/login-action@v3
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCP_SECRET_SA }}

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SECRET_SA }}
          export_default_credentials: true

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ secrets.LOCATION_GCR_ML }}:${{ secrets.TAG_LATEST }}
          

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ secrets.SERVICE_ML }} \
            --image ${{ secrets.LOCATION_GCR_ML }}:${{ secrets.TAG_LATEST }} \
            --region ${{ secrets.REGION }} \
            --platform managed \
            --allow-unauthenticated
